# Read Tables

In [12]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('../data/processed/adventureworks.sqlite')

# Read the table into a DataFrame
df_address = pd.read_sql_query("SELECT * FROM Person_Address", conn)
df_address_type = pd.read_sql_query("SELECT * FROM Person_AddressType", conn)
df_person = pd.read_sql_query("SELECT * FROM Person_Person", conn)

# Don't forget to close the connection when you're done
df_person

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
0,1,EM,0,None,Ken,J,Sánchez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",92C4279F-1207-48A3-8448-4636514EB7E2,2009-01-07 00:00:00
1,2,EM,0,None,Terri,Lee,Duffy,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",D8763459-8AA8-47CC-AFF7-C9079AF79033,2008-01-24 00:00:00
2,3,EM,0,None,Roberto,None,Tamburello,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",E1A2555E-0828-434B-A33B-6F38136A37DE,2007-11-04 00:00:00
3,4,EM,0,None,Rob,None,Walters,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F2D7CE06-38B3-4357-805B-F4B6B71C01FF,2007-11-28 00:00:00
4,5,EM,0,Ms.,Gail,A,Erickson,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF,2007-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19967,20773,IN,0,None,Crystal,None,Guo,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",D0A499A2-C258-43E9-AB06-F61543A71134,2014-03-19 00:00:00
19968,20774,IN,0,None,Isabella,F,Richardson,None,2,None,"<IndividualSurvey xmlns=""http://schemas.micros...",A4F7F248-82F3-43D5-B5A3-8BD1CB610254,2013-07-29 00:00:00
19969,20775,IN,0,None,Crystal,S,He,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",CD0B82D0-3409-4497-A65F-A68E75EE26CB,2014-03-12 00:00:00
19970,20776,IN,0,None,Crystal,None,Zheng,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",386E35E8-97B3-43E4-9B5F-9594C2FF5CEA,2014-01-14 00:00:00
19971,20777,IN,0,None,Crystal,None,Hu,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",1773C8F3-2CC7-4826-A7F5-30D3F36543CD,2013-10-16 00:00:00

# Alter Table Names

In [10]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('../data/processed/adventureworks.sqlite')
cursor = conn.cursor()

# Rename the tables
#cursor.execute("ALTER TABLE 'Person.Address' RENAME TO 'Person_Address';")
#cursor.execute("ALTER TABLE 'Person.AddressType' RENAME TO 'Person_AddressType';")
cursor.execute("ALTER TABLE 'Person.Person' RENAME TO 'Person_Person';")

# Commit the changes and close the connection
conn.commit()
cursor.close()
conn.close()

# Read Availible Tables

In [ ]:
conn = sqlite3.connect('../data/processed/adventureworks.sqlite')
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print(name[0])
conn.close()